.column-container {
    display: flow;
    background-color: #f4f5f7;
    /*border: 1px solid skyblue;*/
    border-radius: 5px;
}
.column-heading {
    margin: 10px;
    color: #677086;
    font-family: "Gill Sans";
    font-weight: 100;
}
.appointments-container {
    display: contents;
}

.row {
    margin: -5px 10px 10px;
}